
.container{
    margin-bottom: 50px;

}
.carosel-bg{
    background-color: #feeae9;
}
.align-items-center{
    padding: 10px 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #fb9242;
}
.buy-button{
    background-color: #fb9242;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.cat-watch{
    background-color: orange;
}
.cat-bag{
    background-color: blueviolet;
}
.cat-shoes{
    background-color: lightblue;
}
.cat-bag, .cat-shoes, .cat-watch{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}

.card{
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}

#signup{
    height: 300px;
}
#signup h6{
    color: gray;
}
#signup button{
    margin-top: 5px;
}

