/* All Container */
.container{
    margin-bottom: 50px;
}

/* Header */
.orange-bg{
    background-color: #feeae9;
}
.carousel-item{
    padding: 30px 60px;
}
.carousel{
    border-radius: 6px;
}
.price{
    color: #fb9242;
}
.buy-button{
    background-color: #fb9242;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

/* Product Category */
.cat-shoes{
    background-color: steelblue;
}
.cat-bags{
    background-color: thistle;
}
.cat-watches{
    background-color: darkcyan;
}
.cat-shoes, .cat-bags, .cat-watches{
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.categories img{
    width: 100px;
}

/* Products */
.card{
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}

/* Sign UP */
#signup{
    height: 300px;
}
.signup h6{
    color: gray;
}
.signup button{
    margin-top: 5px;
}